<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>更新书籍</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
	</head>
	<body>
		<br>
		<br>
		<div class="ui two column centered grid">
		  <div class="column">
			  <form class="ui form segment" th:action="@{/book_update}" th:method="post">
			    <form class="ui form grid two">
			      <div class="field">
			        <label>书名</label>
			        <input type="text" name="name" th:value="${book.name}">
					  <input type="hidden" name="id" th:value="${book.id}">
<!--					  <label th:text="${msg1}"></label>-->
			      </div>
			      <div class="field">
			        <label>作者</label>
			        <input type="text" name="author" th:value="${book.author}">
<!--					  <label th:text="${msg2}"></label>-->
			      </div>
					<div class="field">
						<label>数量</label>
						<input type="number" name="num" th:value="${book.num}">
						<!--					  <label th:text="${msg2}"></label>-->
					</div>
					<div class="field">
						<label>类型</label>
						<input type="text" name="type" th:value="${book.type}">
						<!--					  <label th:text="${msg2}"></label>-->
					</div>
					<div class="field">
						<label>上架时间</label>
						<input type="date" name="registerTime" th:value="${book.registerTime}">
						<!--					  <label th:text="${msg2}"></label>-->
					</div>
					<div class="field">
						<label>发布时间</label>
						<input type="date" name="publishTime" th:value="${book.publishTime}">
						<!--					  <label th:text="${msg2}"></label>-->
					</div>

			      <button class="ui blue button" type="submit">提交</button>
				  <button class="ui red button" type="reset">重置</button>
					<a class="ui button" th:href="@{/book}">返回</a>
			    </form>
			  </form>
		  </div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$('.ui.radio.checkbox')
	  .checkbox();
</script>
