<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>更新用户</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
	</head>
	<body>
		<br>
		<br>
		<div class="ui two column centered grid">
		  <div class="column">
			  <form class="ui form segment" th:action="@{/update_user}" th:method="post">
			    <form class="ui form grid two">
			      <div class="field">
			        <label>姓名</label>
			        <input type="text" name="username" th:value="${user.username}" required="required">
					  <input type="hidden" name="id" th:value="${user.id}" required="required">
			      </div>
			      <div class="field">
			        <label>性别</label>
					  <p th:if="${user.sex==1}">
						  <input type="radio" name="sex" value="1" checked="checked" required="required">男
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  <input type="radio" name="sex" value="0" required="required">女
					  </p>
					  <p th:unless="${user.sex==1}">
						  <input type="radio" name="sex" value="1" required="required">男
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  <input type="radio" name="sex" value="0" checked="checked" required="required">女
					  </p>

			      </div>
					<div class="field">
						<label>年龄</label>
						<input type="number" name="age" th:value="${user.age}" required="required">
					</div>
					<div class="field">
						<label>专业</label>
						<input type="text" name="major" th:value="${user.major}" required="required">
					</div>
					<div class="field">
						<label>是否为管理员</label>
						<p th:if="${user.isadmin==1}">
							<input type="radio" name="isadmin" value="1" checked="checked" required="required">是
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" name="isadmin" value="0" required="required">否
						</p>
						<p th:unless="${user.isadmin==1}">
							<input type="radio" name="isadmin" value="1" required="required">是
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" name="isadmin" value="0" checked="checked" required="required">否
						</p>
					</div>
					<button class="blue ui button" th:type="submit">提交</button>
					<button class="red ui button" th:type="reset">重置</button>
					<a class="ui button" th:href="@{/user}">返回</a>
			    </form>
			  </form>
		  </div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$('.ui.radio.checkbox')
	  .checkbox();
</script>
